<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html" />

<dom-module id="entity-browser-view">
  <template>

    <px-card header-text="ENTITY BROWSER" icon="px-nav:hierarchy">
      <h3>TEST ENTITY BROWSER</h3>
    </px-card>
  </template>
  <script>
    Polymer({
      is: 'entity-browser-view',
      properties: {
       
      }    
    });
  </script>
</dom-module>
