<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/st-core/st-entity-thing.html">
<link rel="import" href="../../bower_components/st-core/st-entity-datastream.html">

<link rel="import" href="../controls/st-table.html">
<link rel="import" href="../controls/st-chart.html">
<link rel="import" href="../controls/st-entity-details.html">

<link rel="import" href="../../css/globalstyle.html" />
<link rel="import" href="thing-view-styles.html" />

<dom-module id="datastream-view">
    <template>       
        
        <style>       
            :host {
                --px-card-background-color: #111F27;
            }

            body {
                background-color: #111F27;
            }

            .card {
                padding-top: 20px;
                min-width: 400px;
                padding-bottom: 2rem;
            }

        </style>   
        <style include="datastream-view-styles"></style> 
        <style include="globalstyle"></style> 

        <px-card class="card" header-text="Chart" icon="px-nav:hierarchy">
            <st-chart id="chart" ><st-chart>
        </px-card> 
                  
        <st-entity-datastream id="entity" gid="{{datastreamid}}" rawreceived="{{datastream}}"></st-entity-datastream>
        <st-entity-observations id="entityobservations" datastreamid="{{datastreamid}}" odata="[[observationodata]]" collection="{{observations}}"></st-entity-observations>
    </template>

    <script>
        Polymer({
            is: 'datastream-view',
            properties: {
                datastream: {
                    type: Object,
                    notify: true,
                    observer: '_datastreamSet'
                },     
                datastreamid: {
                    type: String,
                    notify: true
                },    
                datastreamdetails: {
                    type: Array,
                    notify: true,
                    value: []
                },
                observationodata: {
                    type: Object
                },
                observations: {
                    type: Array,
                    notify: true,
                    observer: '_observationsReceived'
                }
            },
            _datastreamSet(datastream){
                if(!datastream){
                    return;
                }
                
                this.datastreamid = this._getID(datastream);                
                this.$.entityobservations.get();
            },
            _getID(item){
                return item['@iot.id'];
            },
            _observationsReceived(){
                alert('observations received');
            },
            load(id){
                if(!this.datastream){
                    this.datastreamid = id;
                    this.$.entity.get();
                }
            }
        });
    </script>
</dom-module>