<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../../css/app-styles.html">
<link rel="import" href="../../bower_components/px-tabs/px-tabs.html" />

<link rel="import" href="entities-view.html" />
<link rel="import" href="thing-view.html" />
<link rel="import" href="location-view.html" />

<dom-module id="entity-browser-view">
  <template>
   <style include="app-styles"></style>
    <style>
        :host {
          background: #111F27;
        }

        .tabs-container {
          padding-top: 12px;   
          background: #111F27;       
        }
    </style>

    <div class="tabs-container">
      <px-tabs attr-for-selected="name" selected="{{selectedtab}}">
        <px-tab name="things">Things</px-tab>
        <px-tab name="locations">Locations</px-tab>
        <px-tab name="historicallocations">Historical Locations</px-tab>
        <px-tab name="datastreams">Datastreams</px-tab>
        <px-tab name="sensors">Sensors</px-tab>
        <px-tab name="observedproperties">Observed Properties</px-tab>
        <px-tab name="observations">Observations</px-tab>
        <px-tab name="featuresofinterest">Features of Interest</px-tab>
      </px-tabs>
    </div>

    <iron-pages attr-for-selected="name" selected="{{selectedpage}}">
        <entities-view id="thingsview" name="things" arraytype="things" selected="{{selectedthing}}"></entities-view>
        <entities-view id="locationsview" name="locations" arraytype="locations" selected="{{selectedlocation}}"></entities-view>
        <entities-view id="historicallocationsview" name="historicallocations" arraytype="historicallocations" selected="{{selectedhistoricallocation}}"></entities-view>
        <entities-view id="datastreamsview" name="datastreams" arraytype="datastreams" selected="{{selecteddatastream}}"></entities-view>
        <entities-view id="sensorsview" name="sensors" arraytype="sensors" selected="{{selectedsensor}}"></entities-view>
        <entities-view id="observedpropertiesview" name="observedproperties" arraytype="observedproperties" selected="{{selectedobservedproperty}}"></entities-view>
        <entities-view id="observationsview" name="observations" arraytype="observations" selected="{{selectedobservation}}"></entities-view>
        <entities-view id="featuresofinterestview" name="featuresofinterest" arraytype="featuresofinterest" selected="{{selectedfeatureofinterest}}"></entities-view>
        <thing-view name="thing" thing="{{selectedthing}}"></thing-view>
        <location-view name="location" location="{{selectedlocation}}"></location-view>
    </iron-pages>

  </template>
  <script>
    Polymer({
      is: 'entity-browser-view',
      properties: {
        headingtext: {
          type: String
        },
        selectedtab: {
            type: String,
            value: "things",
            observer: '_selectedChanged'
        },
        selectedpage: {
            type: String,
            value: "things"
        },
        selectedthing: {
          type: Object,
          notify: true,
          observer: '_thingChanged'
        },
        selectedlocation: {
          type: Object,
          notify: true,
          observer: '_locationChanged'
        },
        selectedhistoricallocation: {
          type: Object,
          observer: '_historicalLocationChanged'
        },
        selecteddatastream: {
          type: Object,
          observer: '_datastreamChanged'
        },
        selectedsensor: {
          type: Object,
          observer: '_sensorChanged'
        },
        selectedobservedproperty: {
          type: Object,
          observer: '_observedpropertyChanged'
        },
        selectedobservation: {
          type: Object,
          observer: '_observationChanged'
        },
        selectedfeatureofinterest: {
          type: Object,
          observer: '_featureofinterestChanged'
        }
      },    
      _selectedChanged(selected){
        switch(selected) {
          case "things":
            this.$.thingsview.load();            
            break;
          case "locations":
            this.$.locationsview.load();            
            break;
          case "historicallocations":
            this.$.historicallocationsview.load();            
            break;
          case "datastreams":
            this.$.datastreamsview.load();            
            break;
          case "sensors":
            this.$.sensorsview.load();            
            break;
          case "observedproperties":
            this.$.observedpropertiesview.load();            
            break;
          case "observations":
            this.$.observationsview.load();            
            break;
          case "featuresofinterest":
            this.$.featuresofinterestview.load();            
            break;
        }

        this.selectedpage = selected;
      },
      _thingChanged(id){
        if(this.selectedthing){
          this.selectedpage = "thing";
        }
      },
      _locationChanged(id){
        if(this.selectedlocation){
          this.selectedpage = "location";
        }
      },
      _historicalLocationChanged(id){
        if(this.selectedhistoricallocation){
          this.selectedpage = "historicallocation";
        }
      },
      _datastreamChanged(id){
        if(this.selecteddatastream){
          this.selectedpage = "datastream";
        }
      },
      _sensorChanged(id){
        if(this.selectedsensor){
          this.selectedpage = "sensor";
        }
      },
      _observedpropertyChanged(id){
        if(this.selectedobservedproperty){
          this.selectedpage = "observedproperty";
        }
      },
      _observationChanged(id){
        if(this.selectedobservation){
          this.selectedpage = "observation";
        }
      },
      _featureofinterestChanged(id){
        if(this.selectedfeatureofinterest){
          this.selectedpage = "featureofinterest";        
        }
      },
      attached() {
        var r = this.$.route;
      },
    });
  </script>
</dom-module>
