<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/px-app-helpers/px-app-route/px-app-route.html">

<link rel="import" href="../../css/app-styles.html">
<link rel="import" href="../../bower_components/px-tabs/px-tabs.html" />

<link rel="import" href="entities-view.html" />
<link rel="import" href="thing-view.html" />
<link rel="import" href="location-view.html" />
<link rel="import" href="historicallocation-view.html" />

<dom-module id="entity-browser-view">
  <template>
   <style include="app-styles"></style>
    <style>
        :host {
          background: #111F27;
        }

        .tabs-container {
          padding-top: 12px;   
          background: #111F27;       
        }
    </style>

    <app-location use-hash-as-path route="{{route}}"></app-location>
 
    <div class="tabs-container">
      <px-tabs attr-for-selected="name" selected="{{selectedtab}}">
        <px-tab name="{{pages.things.array}}">Things</px-tab>
        <px-tab name="{{pages.locations.array}}">Locations</px-tab>
        <px-tab name="{{pages.historicallocations.array}}">Historical Locations</px-tab>
        <px-tab name="{{pages.datastreams.array}}">Datastreams</px-tab>
        <px-tab name="{{pages.sensors.array}}">Sensors</px-tab>
        <px-tab name="{{pages.observedproperties.array}}">Observed Properties</px-tab>
        <px-tab name="{{pages.observations.array}}">Observations</px-tab>
        <px-tab name="{{pages.featuresofinterest.array}}">Features of Interest</px-tab>
      </px-tabs>
    </div>

    <iron-pages attr-for-selected="name" selected="{{selectedpage}}">
      <entities-view id="thingsview" name="{{pages.things.array}}" arraytype="things" selected="{{selectedthing}}"></entities-view>
      <entities-view id="locationsview" name="{{pages.locations.array}}" arraytype="locations" selected="{{selectedlocation}}"></entities-view>
      <entities-view id="historicallocationsview" name="{{pages.historicallocations.array}}" arraytype="historicallocations" selected="{{selectedhistoricallocation}}"></entities-view>
      <entities-view id="datastreamsview" name="{{pages.datastreams.array}}" arraytype="datastreams" selected="{{selecteddatastream}}"></entities-view>
      <entities-view id="sensorsview" name="{{pages.sensors.array}}" arraytype="sensors" selected="{{selectedsensor}}"></entities-view>
      <entities-view id="observedpropertiesview" name="{{pages.observedproperties.array}}" arraytype="observedproperties" selected="{{selectedobservedproperty}}"></entities-view>
      <entities-view id="observationsview" name="{{pages.observations.array}}" arraytype="observations" selected="{{selectedobservation}}"></entities-view>
      <entities-view id="featuresofinterestview" name="{{pages.featuresofinterest.array}}" arraytype="featuresofinterest" selected="{{selectedfeatureofinterest}}"></entities-view>
      <thing-view id="thingview" name="{{pages.things.single}}" thing="{{selectedthing}}"></thing-view>
      <location-view id="locationview" name="{{pages.locations.single}}" location="{{selectedlocation}}" selectedhistoricallocation="{{selectedhistoricallocation}}" selectedthing="{{selectedthing}}"></location-view>
      <historicallocation-view id="historicallocationview" name="{{pages.historicallocations.single}}" historicallocation="{{selectedhistoricallocation}}" selectedthing="{{selectedthing}}"  selectedlocation="{{selectedlocation}}"></historicallocation-view>
    </iron-pages>

  </template>
  <script>
    Polymer({
      is: 'entity-browser-view',
      properties: {
        headingtext: {
          type: String
        },
        currententity: {
          type: String
        },
        currentid: {
          type: String
        },
        pages: {
          type: Object,
          value: function() { 
              return {
                things: { array: "things", single: "thing" },
                locations: { array: "locations", single: "location" },
                historicallocations: { array: "historicallocations", single: "historicallocation" },
                datastreams: { array: "datastreams", single: "datastream" },
                sensors: { array: "sensors", single: "sensor" },
                observedproperties: { array: "observedproperties", single: "observedproperty" },
                observations: { array: "observations", single: "observation" },
                featuresofinterest: { array: "featuresofinterest", single: "featureofinterest" }
              }; 
          } 
        },
        selectedtab: {
            type: String,
            observer: '_selectedTabChanged'
        },
        selectedpage: {
            type: String,
            observer: '_selectedPageChanged'           
        },
        selectedthing: {
          type: Object,
          notify: true,
          observer: '_thingChanged'
        },
        selectedlocation: {
          type: Object,
          notify: true,
          observer: '_locationChanged'
        },
        selectedhistoricallocation: {
          type: Object,
          observer: '_historicalLocationChanged'
        },
        selecteddatastream: {
          type: Object,
          observer: '_datastreamChanged'
        },
        selectedsensor: {
          type: Object,
          observer: '_sensorChanged'
        },
        selectedobservedproperty: {
          type: Object,
          observer: '_observedpropertyChanged'
        },
        selectedobservation: {
          type: Object,
          observer: '_observationChanged'
        },
        selectedfeatureofinterest: {
          type: Object,
          observer: '_featureofinterestChanged'
        },
        route: {
          type: Object,
          reflectToAttribute: true,
          observer: '_routeChanged'
        }
      }, 
      _selectedTabChanged(selected){
        switch(selected) {
          case this.pages.things.array:
            this.$.thingsview.load();            
            break;
          case this.pages.locations.array:
            this.$.locationsview.load();            
            break;
          case this.pages.historicallocations.array:
            this.$.historicallocationsview.load();            
            break;
          case this.pages.datastreams.array:
            this.$.datastreamsview.load();            
            break;
          case this.pages.sensors.array:
            this.$.sensorsview.load();            
            break;
          case this.pages.observedproperties.array:
            this.$.observedpropertiesview.load();            
            break;
          case this.pages.observations.array:
            this.$.observationsview.load();
            break;
          case this.pages.featuresofinterest.array:
            this.$.featuresofinterestview.load();            
            break;
        }

        if(selected != this.currententity){
          this._setUrl(selected);
        }
      },
      _selectedPageChanged(selected){
        switch(selected) {
          case this.pages.things.single:
            this.$.thingview.load(this.currentid);            
            break;
          case this.pages.locations.single:
            this.$.locationview.load(this.currentid);            
            break;
          case this.pages.historicallocations.single:
            this.$.historicallocationview.load(this.currentid);            
            break;
        }
      },
      _setUrl(entity, id){
        this.set('route.path', !id ? '/entity-browser/' + entity : '/entity-browser/' + entity + '/' + id);
        this._routeChanged(this.route);
      },
      _routeChanged(route){
        var path = route.path.split("/");
        path = path.filter(val => val !== "");
        this.currententity = path.length > 1 ? path[1] : "things";
        this.currentid = path.length > 2 ? path[2] : null;

        this.selectedtab =  this.pages[this.currententity].array;
        this.selectedpage = this.currentid ? this.pages[this.currententity].single : this.pages[this.currententity].array;
      },
      _thingChanged(entity){
        if(this.selectedthing){
          this._setUrl(this.pages.things.array, entity['@iot.id']);
        }
      },
      _locationChanged(entity){
        if(this.selectedlocation){
          this._setUrl(this.pages.locations.array, entity['@iot.id']);
        }
      },
      _historicalLocationChanged(entity){
        if(this.selectedhistoricallocation){
          this._setUrl(this.pages.historicallocations.array, entity['@iot.id']);
        }
      },
      _datastreamChanged(entity){
        if(this.selecteddatastream){
          this._setUrl(this.pages.datastreams.array, entity['@iot.id']);
        }
      },
      _sensorChanged(entity){
        if(this.selectedsensor){
          this._setUrl(this.pages.sensors.array, entity['@iot.id']);
        }
      },
      _observedpropertyChanged(entity){
        if(this.selectedobservedproperty){
          this._setUrl(this.pages.observedproperties.array, entity['@iot.id']);
        }
      },
      _observationChanged(entity){
        if(this.selectedobservation){
          this._setUrl(this.pages.observations.array, entity['@iot.id']);
        }
      },
      _featureofinterestChanged(entity){
        if(this.selectedfeatureofinterest){
          this._setUrl(this.pages.featuresofinterest.array, entity['@iot.id']);        
        }
      }
    });
  </script>
</dom-module>
