<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/px-data-table/px-data-table.html" />

<dom-module id="map-view">
  <template>    
    <px-card header-text="MAP VIEW" icon="px-nav:hierarchy">
      <h3>TEST MAP VIEW</h3>
    </px-card>
  </template>
  <script>
    Polymer({
      is: 'map-view',
      properties: {
       
      }    
    });
  </script>
</dom-module>
