<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-accordion/px-accordion.html">
<link rel="import" href="../../bower_components/st-core/st-entity-things.html">
<link rel="import" href="../controls/st-table.html">
<link rel="import" href="../controls/st-filter.html">

<dom-module id="things-view">
    <template>
    <style include="things-view-styles"></style>      
    <style>       
          :host {
            --px-card-background-color: #111F27;
          }

          .card {
            padding-top: 20px;
          }
    </style>   

    <px-card class="card" >
      <px-accordion icons='{"more":"px-utl:chevron-right","less":"px-utl:chevron","action":"px-utl:search"}' header-value="Filter" show-action status="{{filter}}">
        <st-filter type="thing" filter="{{filter}}" on-filter="_filter"></st-filter>
      </px-accordion>
      <st-table id="table" type="things" count="{{count}}" tabledata="[[things]]" top="{{top}}" skip="{{skip}}" on-request="_tableDataRequest"><st-table>
    </px-card>   

    <st-entity-things id="thingselement" collection="{{things}}" count="{{count}}" odata="{{odata}}"></st-entity-things>
  </template>
    <script>
        Polymer({
            is: 'things-view',
            properties: {
                things: {
                    type: Array,
                    notify: true
                },
                odata: {
                    type: Object,
                    value: {
                        skip: 0,
                        count: true
                    }
                },
                top: {
                    type: Number,
                    value: 10,
                    notify: true,
                    observer: '_topChanged'
                },
                skip: {
                    type: Number,
                    value: 10,
                    notify: true,
                    observer: '_skipChanged'
                },
                filter: {
                    type: String
                },
                count: {
                    type: Number,
                    notify: true
                }
            },
            _topChanged(top) {
                this.odata.top = top;
            },
            _skipChanged(skip) {
                this.odata.skip = skip;
            },
            _tableDataRequest(event) {
                this.odata.count = false;
                this.odata.top = event.detail.top;
                this.odata.skip = event.detail.skip;
                this.request();
            },
            _filter(evt) {
                this.skip = 0;
                this.odata.count = true;
                this.odata.filter = evt.detail.filter;
                this.request();
            },
            load() {
                if (!this.loaded) {
                    this.request();
                    this.loaded = true;
                }
            },
            request() {
                this.$.thingselement.get();
            }
        });
    </script>
</dom-module>